<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Books</title>
    </head>
    <body>
        <h1 class="text-center text-4xl">Prgoramming Books</h1>
        <div class="grid grid-cols-4 gap-4">
            {% for book in books %}
                <div class="justify-self-center mt-10">
                    <h3>{{book.title}}</h3>
                    <img src="{{book.thumbnailUrl}}" width="100" height="150" />
                </div>
            {% endfor %}
        </div>
    </body>
</html>