<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Books</title>
    </head>
    <body>
        <h1 class="text-center text-4xl">Prgoramming Books</h1>
        <div class="grid grid-cols-4 gap-4">
            {% for book in books %}
                <div class="justify-self-center text-center my-4">
                    <p>{{book.title}}</p>
                    <a href="/books/{{book.id}}" target="_blank">
                        <img src="{{book.thumbnailUrl}}" width="200" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </body>
</html>